/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*---- Common styles ----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto; 
    padding: 0 20px;
}
.button{
   background-color: #E02C6D;
   color: white;
   padding: 10px 24px;
   border-radius: 41px;
   border-style: none;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
}
.button:hover{
    background-color: #3A3A3A;
    color: #E02C6D;
    transition: .3s ease-in-out;
}

/* ------------- 
--------------Header part styles--------------- 
------------- */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.navigation-left h2{
    color: #3A3A3A;
} 
.menu-part{
    display: flex;
}
.menu-part li{
    list-style: none;
    margin-right: 30px;
}
.menu-part li a{
    text-decoration: none;
    color: #3A3A3A;
}

/* ------------- 
--------------Main part styles--------------- 
------------- */

/* --- influencer part styles --- */
.influencer-part{
    /* height: calc(100vh - 60px); */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 150px;
    align-items: center;
}
.influencer-info h1{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 16px;
}
.influencer-info p{
    color: #3A3A3A;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.influencer-info .fa-arrow-right{
    margin-left: 8px;
}
.influencer-image img{
    width: 440px;
    height: 414px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 90px;
}
.influencer-image img:hover{
    transform: rotate(90deg) ;
    transition: transform .8s ease-in-out;
}
/* --- brand logo styles --- */
.brand-logo{
    padding: 0 165px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-items: center;
}

/* --- popular collection part styles --- */
.popular-collection-part{
    margin-top: 100px;
}
.popular-collection-part h2{
    color: #3A3A3A;
    text-align: center;
    margin-top: 133px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 30px;
}
.collection{
    border-radius: 8px;
    width: 320px;
    height: 476px;
    padding: 18px 0;
    box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.1);
}
.collection img{
    text-align: center;
    width: 300px;
    height: 256px;
    padding-left: 18px;
}
.collection .image-info{
    padding-left: 18px;
    color: #787885;
    font-size: 14px;
}
.collection .image-info h3{
    color: #18191F;
    font-size: 28px;
}
.collection .amount{
    color: #18191F;
    font-size: 24px;
}
.collection .image-info .fas{
    color: #FB8200;
    font-size: 12px;
}
.collection p{
    color: #787885;
}
.more-collections{
    margin-top: 30px;
    text-align: end;
    color: #E02C6D;
    font-weight: 600;
    font-size: 16px;
    padding-right: 20px;
}

/* --- contact part styles --- */
.contact-part{
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
    align-items: center;
}
.contact-part .contact-left p{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 600;
}
.contact-part .contact-left span{
    font-size: 16px;
    font-weight: 400;
}
.contact-part .contact-right .contact{
    outline: 0;
    margin-right: 20px;
    padding: 8px 10px;
    font-family: inherit;
}

/* --- footer part styles --- */
.footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.footer-col .social-links a .fab{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
    font-size: 20px;
	margin: 10px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

/* --- responsiveness --- */
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {
    
    .collections{
        grid-template-columns: repeat(2, 1fr);
        
    }
}